.about-section {
    background-color: $secondary;
    color: $light;
    font-family: $secondary-font;
    position: relative;
    margin-top: 4rem;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    

    @media only screen and (min-width: 992px) {
        border-radius: 1.5rem;
    }

    

    &__head {
        display: none;
        width: 100%;
        border-bottom: .1rem solid $primary;
    }

    &__switch {
        color: inherit;
        padding: 1.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        flex-grow: 1;

        &--active {
            color: $secondary;
            background-color: $primary;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 3rem;
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: justify;
        visibility: hidden;
        height: 0;
        transition: .3s ease;

        img {
            
            display: none;

            @media only screen and (min-width: 992px) {
                display: block;

            }
        }

        &--active {
            visibility: visible;
            height: 100%;
            padding: 2rem;
        }
    }

    @media only screen and (min-wdith: 992px) {
        border-radius: 20px;
        overflow: hidden;
        text-align: right;
    }
}

