.header-section {
    display: flex;
    margin-top: 30px;
    position: relative;

    &__homepage-link {
        margin-right: auto;
        max-height: 5rem;
    }

    &__burger {
        position: relative;
        width: 6rem;
        height: 6rem;
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        background-color: $secondary;
        border-radius: 1.5rem;
        z-index: 7;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        cursor: pointer;
    

        .burger-icon {
            background-color: $primary;
            width: 100%;
            height: .4rem;
            position: relative;
            border-radius: .2rem;
            transition: .4s ease;
        }

        .burger-icon::before,
        .burger-icon::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: .4rem;
            background-color: $primary;
            top: 1rem;
            border-radius: .2rem;
            transition: .4s ease;
        }

        .burger-icon::after {
           top: -1rem;
        }

        &:hover {
            
            .burger-icon {
                transform: scale(.9);
            }
        }
    }

    .burger-checkbox {
        position: absolute;
        top: -100vw;
    }

    &__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        max-width: 600px;
        width:100%;
        background-color: $secondary;
        height: 100svh;
        padding: 3rem;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $primary;
        transform: translateX(-100%);
        transition: .4s ease;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px , rgba(0, 0, 0, 0.15) 0px -36px 30px 0px , rgba(0, 0, 0, 0.1) 0px -79px 40px 0px , rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

        &-title {
            font-size: 3.2rem;
            text-transform: uppercase;
            color: currentColor;
            font-weight: bold;
            text-decoration: none;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            list-style-type: none;
            margin-top: 8rem;
            margin-bottom: auto;
        }

        &-link {
            color: currentColor;
            font-weight: 400;
            font-size: 2.5rem;
            padding: 1rem;
            text-decoration: none;
            transition: .1s ease-in-out;

            &:hover {
                color: #333;
                background-color: $primary;
            }
        }

        &-socialmedia-wrapper {
            display: flex;
            gap: 20px;
        }
    }

    .burger-checkbox:checked ~ &__nav {
        transform: translate(0) scale(1);
        border-radius: 0;
    }

    .burger-checkbox:checked ~ .backdrop {
        overflow: hidden;
        transform: translateY(0);
        opacity: .3;
    }

    .burger-checkbox:checked ~ label > &__burger > .burger-icon {
        background-color: transparent;

        &::before {
            transform: rotate(-45deg);
            top: 0;
        }

        &::after {
            transform: rotate(45deg);
            top: 0;
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    opacity: 0;
    z-index: 4;
    transform: translateX(100%);
    transition: opacity .4s ease;
}