.clip-background {
    width: 100%;
    background-color: $primary;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 68.00%, 2.00% 67.95%, 4.00% 67.80%, 6.00% 67.54%, 8.00% 67.19%, 10.00% 66.74%, 12.00% 66.19%, 14.00% 65.55%, 16.00% 64.82%, 18.00% 64.01%, 20.00% 63.12%, 22.00% 62.16%, 24.00% 61.12%, 26.00% 60.02%, 28.00% 58.87%, 30.00% 57.66%, 32.00% 56.42%, 34.00% 55.13%, 36.00% 53.82%, 38.00% 52.48%, 40.00% 51.13%, 42.00% 49.77%, 44.00% 48.42%, 46.00% 47.07%, 48.00% 45.74%, 50.00% 44.44%, 52.00% 43.16%, 54.00% 41.93%, 56.00% 40.74%, 58.00% 39.60%, 60.00% 38.53%, 62.00% 37.51%, 64.00% 36.57%, 66.00% 35.71%, 68.00% 34.92%, 70.00% 34.23%, 72.00% 33.62%, 74.00% 33.10%, 76.00% 32.68%, 78.00% 32.36%, 80.00% 32.14%, 82.00% 32.02%, 84.00% 32.01%, 86.00% 32.09%, 88.00% 32.28%, 90.00% 32.57%, 92.00% 32.95%, 94.00% 33.44%, 96.00% 34.01%, 98.00% 34.68%, 100.00% 35.44%);
    margin-top: -35rem;
    height: 40rem;

    
    &--reverse {
        //clip-path: polygon(100% 0%, 0% 0% , 0.00% 68.00%, 2.00% 67.95%, 4.00% 67.80%, 6.00% 67.54%, 8.00% 67.19%, 10.00% 66.74%, 12.00% 66.19%, 14.00% 65.55%, 16.00% 64.82%, 18.00% 64.01%, 20.00% 63.12%, 22.00% 62.16%, 24.00% 61.12%, 26.00% 60.02%, 28.00% 58.87%, 30.00% 57.66%, 32.00% 56.42%, 34.00% 55.13%, 36.00% 53.82%, 38.00% 52.48%, 40.00% 51.13%, 42.00% 49.77%, 44.00% 48.42%, 46.00% 47.07%, 48.00% 45.74%, 50.00% 44.44%, 52.00% 43.16%, 54.00% 41.93%, 56.00% 40.74%, 58.00% 39.60%, 60.00% 38.53%, 62.00% 37.51%, 64.00% 36.57%, 66.00% 35.71%, 68.00% 34.92%, 70.00% 34.23%, 72.00% 33.62%, 74.00% 33.10%, 76.00% 32.68%, 78.00% 32.36%, 80.00% 32.14%, 82.00% 32.02%, 84.00% 32.01%, 86.00% 32.09%, 88.00% 32.28%, 90.00% 32.57%, 92.00% 32.95%, 94.00% 33.44%, 96.00% 34.01%, 98.00% 34.68%, 100.00% 35.44%);
        margin-top: 0;
        transform: rotate(180deg);
    }

    &--footer {
        background-image: url('/img/layered-waves-haikei-footer.svg');
        background-size: cover;
        clip-path: none;
    }
}

.violet-bgc {
    background-color: $primary;
}