.posts-grid {
    position: relative;
    display: block;
   padding: 3rem;
    z-index: 3;

    &__title {
        text-align: center;
        font-size: 3.2rem;
        font-weight: 900;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;

        &-box {
            color: #333;
            position: relative;
            border: 1px solid $light;
            text-decoration: none;

            &-thumbnail {
                position: relative;
            }

            &-thumbnail img {
                width: 100%;
            }
           

            &-content {
                font-family: $secondary-font;
                font-size: 2rem;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #fff;
            }

            .cta {
                margin-left: auto;
            }
        }
    }

    &--archive {
        margin-top: 0;
    }
}