.recent-posts {
    display: block;
    padding-bottom: 5rem;

    &__title {
        text-align: center;
        font-size: 3.2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
        grid-column-gap: 7rem;
        grid-row-gap: 4rem;
        position: relative;
        padding: 1rem;

        &-box {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &-button {
                margin: 2rem 0;
            }

            .heading-3 {
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            &-content {
                font-family: $secondary-font;
                font-size: 1.8rem;
                padding: 1rem;

                .line {
                    height: .4rem;
                    max-width: 20rem;
                    background-color: $primary;
                }
            }

            
        }
    }
}