.recent-posts {
    display: block;
    padding-bottom: 5rem;

    &__title {
        text-align: center;
        font-size: 3.2rem;
    }

    &__grid {
        

        &-box {
            color: #333;
            height: 40rem;
            text-decoration: none;
    
        
            &-button {
                cursor: pointer;
                margin: 4rem 0;
                border: none;
            }

            .heading-4 {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-weight: 500;
                font-size: 2.3rem;
            }

            &:hover .heading-4 {
                text-decoration: underline;
            }

            &-content {
                font-family: $secondary-font;
                font-size: 2rem;
                padding: 1rem;
            }
        }
    }
}