.button {
    display: block;
    padding: 1rem 2rem;
    color: $secondary;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $secondary-font;
    background-color: $primary;
    width: fit-content;
    transition: .1s ease-in-out;
    border-radius: .7rem;
    font-size: 1.5rem;

    &--dark {
        color: $light;
        background-color: $secondary;
    }
}