.button {
    display: block;
    padding: 1rem 2rem;
    color: $secondary;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $primary;
    width: fit-content;
    transition: .1s ease-in-out;

    &--dark {
        color: $primary;
        background-color: $secondary;
    }

    &:hover {
        transform: translateY(.3rem);
    }
}