.button {
    display: block;
    position: relative;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
    background: transparent;
    border: 2px solid $secondary;
    z-index: 3;
    overflow: hidden;
    text-decoration: none;
    color: currentColor;
    font-size: 1.6rem;
    max-width: fit-content;

    span {
        position: inherit;
        z-index: 3;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        transform: translateY(110%);
        transition: .2s ease;
    }

    &:hover {
        text-decoration: underline;

        &::after {
            transform: translate(0);
        }
    }

    &--light {
        color: $light;
        border-color: $light;

        &::after {
            background-color: transparent;
        }
    }
}