$primary: #D1CCDC;

$secondary: #424c55;
$light: #ECECEC;
$dark: #333;


// FONTS

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Mulish', sans-serif;

/*
#62595F;
#8f949a;
#ccd4dc;
#91909a;
*/